.App {
  background-color: black;
  color: white;
  font-size: 20px;
  padding-left: 40px;
}
.header-div {
  height: 70px;
  margin-bottom: 50px;
}
.logo-img {
  position: absolute;
  height: 70px;
  width: 140px;
  left: 18px;
}
.category {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 30px;
}
.images {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  padding-bottom: 50px;
  .image {
    height: 165px;
    width: 300px;
  }
}
.images::-webkit-scrollbar {
  display: none;
}
